name: Demo

on:
  push:
    branches:
      - cicd/demo

env:
  AWS_REGION: ap-northeast-1
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  AWS_BUCKET_NAME: test-cicd-mij-bucket
  SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
  SLACK_CHANNEL: C08MV1PPBAP

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'npm'
      - run: npm ci
      - run: npm run build
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ env.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ env.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}
      - name: Deploy to S3
        run: aws s3 sync dist/ s3://${{ secrets.AWS_BUCKET_NAME }}
      
      - name: Notify Slack (success)
        if: success()
        run: |
          TOKEN=${{ env.SLACK_BOT_TOKEN }}
          CHANNEL=${{ env.SLACK_CHANNEL }}
          MESSAGE="<!channel> ✅ [TEST] [mii-customer-frontend] Deployment successful"
          curl -X POST -H "Authorization: Bearer $TOKEN" -H "Content-Type: application/json" -d "{\"channel\": \"$CHANNEL\", \"text\": \"$MESSAGE\"}" https://slack.com/api/chat.postMessage

      - name: Notify Slack (failure)
        if: failure()
        run: |
          TOKEN=${{ env.SLACK_BOT_TOKEN }}
          CHANNEL=${{ env.SLACK_CHANNEL }}
          MESSAGE="<!channel> ❌ [TEST] [mii-customer-frontend] Deployment failed"
          curl -X POST -H "Authorization: Bearer $TOKEN" -H "Content-Type: application/json" -d "{\"channel\": \"$CHANNEL\", \"text\": \"$MESSAGE\"}" https://slack.com/api/chat.postMessage